.homeMainDiv {
  width: 100vw;
  height: 100%;
  margin: 190px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainLogoDiv {
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

h1 {
  font-size: 100px;
  text-shadow: 0px 0px 10px rgb(114, 114, 114);
}

.mainLogo {
  width: 100%;
  max-width: 800px;
}

.getStarted {
  height: 60px;
  width: 150px;
  border-radius: 5px;
  border-color: transparent;
  background: rgb(43, 122, 212);
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.getStarted:hover {
  background: rgb(27, 78, 136);
  height: 65px;
  width: 155px;
  font-size: 21px;
  cursor: pointer;
}