.homeMainDiv {
  width: 100vw;
  height: calc(100vh - 70px);
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainLogoDiv {
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.homeTitleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeTitleSeg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.homeTitle {
  font-size: 100px;
  text-shadow: 0px 0px 10px rgb(114, 114, 114);
  margin: 0 0 30px 0;
  width: 100%;
  transition: all .05s ease-in-out;
}

.homeTitle:hover {
  transform: scale(1.12);
}

.titleImg {
  width: 60px;
  margin-top: 20px;
}

.titleImg:hover {
  transform: scale(1.15);
}

.mainLogo {
  width: 100%;
  max-width: 800px;
}

.getStarted {
  height: 60px;
  width: 150px;
  border-radius: 5px;
  border-color: transparent;
  background: rgb(43, 122, 212);
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: all .15s ease-in-out;
}

.getStarted:hover {
  background: rgb(27, 78, 136);
  transform: scale(1.05);
  cursor: pointer;
}