header {
  height: 50px;
  width: 100vw;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  margin: 0 0 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerLogoParent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerLogo {
  height: 45px;
  margin-right: 8px;
}

.headerBtn {
  margin: 1vw;
  background-color: transparent;
  border-color: transparent;
  border: 0px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: lowercase;
  z-index: 0;
}

.headerBtn:hover {
  color: rgb(214, 214, 214);
}

.headerRight {
  margin-right: 30px;
}